@import "utils";


.cn-text{
	> * {
		& h1,h2,h3,h4,h5,h6{
			font-size: inherit;
		}
	}
	> *{
		margin: 0;
		padding: 0;

		margin-bottom: 1.2rem;
	}

	> ul,
	> ol{
		list-style: none;
	}

	> {
		h1{
			font-size: 3rem;
		}
		h2{
			font-size: 2.4rem;
		}
		h3{
			font-size: 1.6rem;
		}
		h4{
			font-size: 1rem;
		}
		h5{
			font-size: 0.8rem;
		}
		h6{
			font-size: 0.6rem;
		}

		hr{
			border: 0;
			border-top: 1px solid #ddd;
		}

		blockquote > footer{
			margin-top: 0.8rem;
		}

		img{
			max-width: 100%;
		}
	}
}